name: Gradle Tests
on:
  push:
  pull_request:
permissions:
  contents: write # dependency submission
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
      - name: Setup Gradle with caching
        uses: gradle/actions/setup-gradle@v4
      - name: Build and run tests
        run: ./gradlew test
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4
